---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Tagged "{{ tag }}" | {{ metadata.title }}
permalink: /tags/{{ tag | slugify }}/
---
{# <h1 class="text-center">Tagged <span>{{ tag }}</span></h1> #}

<div class="min-h-[50vh] grid place-content-center justify-items-center relative">
  <h2 class="font-medium text-xl">Posts Tagged As</h2>
  <h2 class="font-bold text-xl my-5 bg-red-200 text-red-900 rounded-xl italic p-3 px-10">{{ tag }}</h2>
  <!-- <p class="font-light text-xl">Read our data driven and evidence based Tales</p> -->
  <!-- <a class="text-6xl font-light absolute bottom-5 text-gray-300 animate-bounce" href="#maincontent"><span class="iconify" data-icon="mdi-chevron-down"></span></a> -->
</div>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<a class="block bg-red-800 text-center py-2 font-medium text-white rounded-lg my-10 hover:bg-red-700" href="/tags/">See All Tags</a>
